html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body #root {
  height: 100%;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
